*{
  margin:0;
  padding: 0;
  box-sizing: content-box; 
  font-family: "Times New Roman", Times, serif;
}

.nav {
  display: grid;
  position: fixed; 
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    text-align: center;
    margin-top:0px ;
}

.container-footer{
  margin-top: 10px;
}
