.contenedor_general {
  display: flex;
  flex-direction: column;
}



























*{
  margin:0;
  padding: 0;
  box-sizing: content-box; 
  font-family: "Times New Roman", Times, serif;

}


.conte_encabezado{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  justify-self: center; 
  align-self: end; 
  margin-bottom: 1px;
  position: fixed; 
  top: 0px;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
 
 

 
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.container-footer{
  margin-top: 335px;
}
