.conte_filtros{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border-radius: 35px; 
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: rgba(128, 128, 128, 0.237);
    padding-bottom: 10px;
    padding-top: 8px;
    box-shadow: rgba(19, 19, 19, 0.495) 0px 8px 24px;
    
}

.filter_vinos{
    border-radius: 35px;
    border-style: none;
    width: 100px;
}

.filter_cerveza{
    border-radius: 35px;
    border-style: none;
    width: 100px;
}

.filter_WHISKYS{
    border-radius: 35px;
    border-style: none;
    width: 100px;
}

.filter_rones{
    border-radius: 35px;
    border-style: none;
    width: 100px;
}

