   /* .conte_filtros{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    border-radius: 35px; 
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 8px;
    box-shadow: rgba(19, 19, 19, 0.495) 0px 8px 24px;
    color: white; 
    
} 
  */
 

/* .filter_vinos{
    border-radius: 35px;
    border-style: none;
    width: 100px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
   
}

.filter_cerveza{
    border-radius: 35px;
    border-style: none;
    width: 100px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.filter_WHISKYS{
    border-radius: 35px;
    border-style: none;
    width: 100px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.filter_rones{
    border-radius: 35px;
    border-style: none;
    width: 100px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
 */


/* con tailwind 
.conte_filtros {
  @apply display-grid grid-cols-4 border-radius-35 
  margin-left-5 margin-right-5 margin-top-5 bg-black py-8 pb-10 
  shadow-md text-white;
} */